{{define "footer"}}
<div class="footer navbar-fixed-bottom row-fluid">
      <div class="navbar-inner">
         <div class="container">
         </div>
         <p>Copyright tam vsyakie</p>
      </div>
</div>
</body>
</html>
         
{{end}}