{{define "game"}}



<div class="col-md-5"></div>
<div class="col-md-4">
      <div id="phase1" style="opacity:0">
<label for="answer">Enter number</label> <input type="text" id="answer" onkeypress='return event.charCode >= 48 && event.charCode <= 57 && $("#answer").val().length<3'></input>
<br>
<button id="sendResult" type="button" class="btn btn-primary">Try faith</button>

</div>
<div id="messages"></div>
<button id="newGame" type="button" class="btn btn-primary">New game</button>
</div>
<div class="col-md-3"></div>
{{end}}