{{define "guest"}}
<!DOCTYPE html>
<head>
   <title>ARE U VANGA!?</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="httpserver/static/main.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="httpserver/static/guest.js"></script>

</head>
<body>
<div class="header">
    <h1>U WANNA CHECK YOUR VANGA SKILL!?</h1>
    <hr>
    <div id="phase1" style="opacity:0">
   <label for="answer">Enter number</label> <input type="text" id="answer" onkeypress='return event.charCode >= 48 && event.charCode <= 57 && $("#answer").val().length<3'></input>
   <br>
    <button id="sendResult"type="button" class="btn btn-primary" >Try faith</button>
     
     </div>
     <div id="messages"></div>
      <button id="newGame"type="button" class="btn btn-primary" >New game</button>
</div>
   
     <div class="footer navbar-fixed-bottom row-fluid">
      <div class="navbar-inner">
         <div class="container">
         </div>
         <p>Copyright tam vsyakie</p>
      </div>
   </div>
</body>

</html>
{{end}}