{{define "header"}}
<!DOCTYPE html>

<head>
    <title>ARE U VANGA!?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="httpserver/static/main.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script src="httpserver/static/jquery.validation.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="httpserver/static/randomgame.js"></script>
</head>
<body>  
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">VangaCheck</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="/top15"><span class="glyphicon glyphicon-th-list"></span> Top 15</a></li>   
    </ul>
   {{ if eq  . "true" }}<!-- Приходит статус авторизации, если есть, то можно выйти(с) кеп -->
    <ul id="quit" class="nav navbar-nav navbar-right">     
      <li><a href="#" ><span class="glyphicon glyphicon-send"></span> Quit</a></li>
    </ul>
    {{end}}
  </div>
</nav>

  <div class="header">
        <h1>U WANNA PROVE YOUR VANGA SKILL!?</h1>
        <hr>
    </div>
{{end}}