{{define "register"}}
<div class="container" id="register">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <div class="panel panel-login">
            <div class="panel-heading">
               <div class="row">
                  <div class="col-xs-4">
                     <a href="#" class="active" id="login-form-link">Login</a>
                  </div>
                  <div class="col-xs-4">
                     <a href="#" id="register-form-link">Register</a>
                  </div>
                  <div class="col-xs-4">
                     <a href="/guest" id="play-as-guest">Guest session</a>
                  </div>
               </div>
               <hr>
            </div>
            <div class="panel-body">
               <div class="row">
                  <div class="col-lg-12">
                     <form id="login-form" action="/login" method="post" role="form" style="display: block;">
                        <div class="form-group">
                           <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value=""  data-validation="[L>=6, L<=18, MIXED]" data-validation-message="$ must be between 6 and 18 characters. No special characters allowed." >
                           <div class="error-list" data-error-list="" ></div>
                        </div>
                        <div class="form-group">
                           <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" data-validation="[L>=6]" data-validation-message="$ must be at least 6 characters">
                        </div>
                        <div class="form-group">
                           <div class="row">
                              <div class="col-sm-6 col-sm-offset-3">
                                 <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                              </div>
                           </div>
                        </div>
                     </form>
                     <form id="register-form" action="/register" method="post" role="form" style="display: none;">
                        <div class="form-group">
                           <input type="text" id="username" name="username"  class="form-control" placeholder="Username" value="" data-validation="[L>=6, L<=18, MIXED]" data-validation-message="$ must be between 6 and 18 characters. No special characters allowed.">							
                           <div class="error-list" data-error-list="" ></div>
                        </div>
                        <div class="form-group">
                           <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value=""  data-validation="[EMAIL]">
                        </div>
                        <div class="form-group">
                           <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password"   data-validation="[L>=6]" data-validation-message="$ must be at least 6 characters">
                        </div>
                        <div class="form-group">
                           <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" data-validation="[V==password]" data-validation-message="$ does not match the password">
                        </div>
                        <div class="form-group">
                           <div class="row">
                              <div class="col-sm-6 col-sm-offset-3">
                                 <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{{end}}

