{{define "toplist"}}
{{template "header" "false"}}<!--Чтобы не отрисовывать кнопку выхода-->
<h3 style="text-align: center;">TOP15 VANGA LIST</h3>
   <table class="table table-bordered">
            <thead>
                  <tr>      
                        <th>Nickname</th>
                        <th>Rating</th>
                  </tr>
            </thead>
         {{range .}}<tbody><tr>
	    <td>{{.Login}}</td>
        <td>{{.WinRate}}</td>
         </tbody></tr>
{{end}}
      </table>
 {{template "footer"}}
{{end}}


